<header class="banner">
	<h1><%= @user.first_name %>'s Pets</h1>
</header>
<br>

<div class="transitions-enabled" id="pets">
  <% @pets.each do |pet| %>
    <div class="box panel panel-default">
      <%= image_tag pet.pet_avatar_url %>
      <div class="panel-body">
        <%= link_to pet.name, user_pet_path(@user, pet) %>
        <%= pet.breed %>
        <%= link_to pet.name, user_pet_path(@user, pet),class: "btn btn-info" %>
      </div>
    </div>
  <% end %>
</div>


<%= will_paginate @pets %>
