<h1>Show Pet</h1>
<hr>
<%= image_tag @pet.pet_avatar_url(:display) %>
<p><strong>Name:</strong> <%= @pet.name %></p>
<p><strong>Breed:</strong> <%= @pet.breed %></p>
<p><strong>Weight:</strong> <%= @pet.weight %>lbs.</p>
<hr>
<p><%= link_to "add a pet", new_user_pet_path(@user) %></p>
<p><%= link_to "edit pet", edit_user_pet_path(@user, @pet) %></p>
<p><%= link_to "delete pet", user_pet_path(@user, @pet), method: :delete %></p>
<hr>
<p><%= link_to "new picture'", new_pet_picture_path(@pet) %></p>
<p><%= link_to "view all pets for owner #{@user.email}", user_pets_path(@user) %></p>
<p><%= link_to "view all pets pictures for owner #{@user.email}", pet_pictures_path(@pet) %></p>
