<header class="banner">
	<% if current_user.id == @user.id %>
		<h1>Howdy, <%= @user.first_name %></h1>
	<% else %>
		<h1>Welcome to <%= @user.first_name %>'s Page</h1>
	<% end %>
</header>
<br>

<div class="columnsContainer">

	<div class="rightColumn">
		<h2><%=@user.first_name%> <%= @user.last_name %></h2>
		<%= image_tag @user.avatar_url(:display), class: "img-circle" %>
		<br>
		<p class="text-muted fontweightone">Followers: <strong><%= @user.followers_count %></strong></p>
		<p class="text-muted fontweightone">Follows: <strong><%= @user.follow_count %></strong></p>


	  <div id="follow">
	    <%= render "follow_user", user: @user %>
	  </div>

	</div>



	<div class="leftColumn">
		<% if current_user.id == @user.id %>
			<h3 class="section-subheading text-muted fontweightone">Welcome back <%= @user.first_name %>.</h3>
		<% else %>
			<h3><%= @user.first_name %></h3>
		<% end %>
		<br>
		<p>Following:
			<div class="transitions-enabled" id="pets">
				<% @user.all_following.each do |follow| %>
				<div class="box panel panel-default" id="box-follower">
					<%= link_to cl_image_tag(follow.avatar_url(:thumbnail)), "/users/#{follow.id}"  %>
					<div class="panel-body">
						<strong><%= follow.first_name %></strong><br>
					</div>
				</div>
				<% end %>
			</div>
		</p>
		<hr>
		<div class="inline">
		  <% if current_user.id == @user.id %>
		    <p class="inline"><%= link_to "add a pet", new_user_pet_path(@user), class: "btn btn-default" %><%= link_to "all pets", user_pets_path(@user), class: "btn btn-default" %><%= link_to "calendar", user_events_path(@user), class: "btn btn-default" %></p>
		  <% else %>
		    <p class="inline"><%= link_to "all pets", user_pets_path(@user), class: "btn btn-default" %></p>
		  <% end %>
		</div>

	</div>
</div>
<script>
$(document).ready(function(){
		console.log("jQuery is working, but why only here in the view?");
});

$(".click").click(function() {
  window.location.reload();
});
</script>
