<header class="banner">
	<h1>Howdy, <%=@user.first_name%></h1>
</header>
<br>
<section id="team" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <br>
        <br>
        <%= image_tag @user.avatar_url(:display) %>
        <h3 class="section-subheading text-muted fontweightone">Welcome back <%= @user.first_name %> <%= @user.last_name %>.</h3>
        <br>
        <hr>
        <p class="text-muted fontweightone"><%= @user.first_name %> has: <strong><%= @user.followers_count %></strong> followers</p>
        <p class="text-muted fontweightone"><%= @user.first_name %> follows: <strong><%= @user.follow_count %></strong> users</p>
        <div class="follow">
          <% if current_user.id == @user.id%>
          <% else %>
            <%= form_tag unfollow_path(user_id: @user.id), method: :post, remote: true do %>
            <%= button_tag 'unfollow', class: 'btn btn-primary' %>
            <% end %>
            <%= form_tag follow_path(user_id: @user.id), method: :post, remote: true do %>
            <%= button_tag 'follow', class: 'btn btn-success' %>
            <% end %>
          <% end %>
            <br>
            <br>
              <p>Following:
                <% @user.all_following.each do |follow| %>
                  <strong><%= follow.first_name %></strong>
                  <%= link_to cl_image_tag(follow.avatar_url(:thumbnail)), "/users/#{follow.id}" %>
                <% end %>
              </p>
            <br>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<br>
<div class="inline">
  <% if current_user.id == @user.id %>
    <p class="inline"><%= link_to "add a pet", new_user_pet_path(@user), class: "btn btn-info" %><%= link_to "all pets", user_pets_path(@user), class: "btn btn-info" %><%= link_to "calendar", user_events_path(@user), class: "btn btn-info" %></p>
    <div class="inner"><%= button_to "Delete Profile", destroy_user_path(@user),data: {:confirm=>'Are you sure you want to delete your profile?'}, :method => 'delete', class: "btn btn-small btn-danger" %></div>
  <% else %>
    <p class="inline"><%= link_to "all pets", user_pets_path(@user), class: "btn btn-info" %></p>
  <% end %>
</div>
<br>
<br>
