<h1>Hey <%=@user.first_name%></h1>


<%= image_tag @user.avatar_url(:display) %>
<p><strong>First Name: </strong><%= @user.first_name %></p>
<p><strong>Last Name: </strong><%= @user.last_name %></p>
<p><strong>Email: </strong><%= @user.email %></p>
<hr>
<p><%= link_to "add a pet", new_user_pet_path(@user) %></p>
<p><%= link_to "view all pets for owner #{@user.email}", user_pets_path(@user) %></p>
<p><%= link_to "view all events for owner #{@user.email}", user_events_path(@user) %></p>
