<header class="banner">
	<h1>Howdy, <%=@user.first_name%></h1>
</header>
<br>






  	<div class="columnsContainer">

			<div class="rightColumn">
				<h2><%=@user.first_name%> <%= @user.last_name %></h2>
				<%= image_tag @user.avatar_url(:display) %>
				<p class="text-muted fontweightone"><%= @user.first_name %> has: <strong><%= @user.followers_count %></strong> followers</p>
				<p class="text-muted fontweightone"><%= @user.first_name %> follows: <strong><%= @user.follow_count %></strong> users</p>
				<% if current_user.id == @user.id%>
					<%= button_to "Delete Profile", destroy_user_path(@user),data: {:confirm=>'Are you sure you want to delete your profile?'}, :method => 'delete', class: "btn btn-small btn-danger" %>
				<% else %>
					<%= form_tag unfollow_path(user_id: @user.id), method: :post, remote: true do %>
					<%= button_tag 'unfollow', class: 'btn btn-primary' %>
					<% end %>
					<%= form_tag follow_path(user_id: @user.id), method: :post, remote: true do %>
					<%= button_tag 'follow', class: 'btn btn-success' %>
					<% end %>
				<% end %>
			</div>

	  	<div class="leftColumn">
	  		<h3 class="section-subheading text-muted fontweightone">Welcome back <%= @user.first_name %>.</h3>
				<br>
				<p>Following:
					<% @user.all_following.each do |follow| %>
						<strong><%= follow.first_name %></strong>
						<%= link_to cl_image_tag(follow.avatar_url(:thumbnail)), "/users/#{follow.id}" %>
					<% end %>
				</p>

				<div class="inline">
				  <% if current_user.id == @user.id %>
				    <p class="inline"><%= link_to "add a pet", new_user_pet_path(@user), class: "btn btn-info" %><%= link_to "all pets", user_pets_path(@user), class: "btn btn-info" %><%= link_to "calendar", user_events_path(@user), class: "btn btn-info" %></p>
				  <% else %>
				    <p class="inline"><%= link_to "all pets", user_pets_path(@user), class: "btn btn-info" %></p>
				  <% end %>
				</div>

			</div>


  	</div>
