<%= form_for [@user, @event]  do |f| %>
  <div class="form-group">
    <%= f.text_field :name, class: "form-control", placeholder: "Name", autofocus: true %>
  </div>
  <div class="form-group">
    <%= f.date_field :published_on, class: "form-control", placeholder: "Published On" %>
  </div>
  <div class="form-group">
    <%= f.text_area :content, class: "form-control", placeholder: "Content" %>
  </div>
  <div class="form-group">
    <%= f.submit "Save Date", class: "btn btn-block btn-success" %>
  </div>
<% end %>
