<header class="banner">
	<h1><%= @picture.title %></h1>
</header>
<br>


<strong>Title: </strong><%= @picture.title %><br>
<%= image_tag @picture.photo_url(:display) %>
<%= @picture.pet.name %>
  <% if current_user.id == @picture.pet.user_id %>
    <%= link_to pet_picture_path(@pet, @picture), data: {:confirm=>'Are you sure you want to delete this image?'}, method: :delete, class: "btn btn-small btn-danger" do %>
      <span class="glyphicon glyphicon-remove"></span>
  <% end %>
<% end %><hr>
<%= link_to "back to #{@pet.name}'s pictures'", pet_pictures_path(@pet) %>
