<header class="banner">
	<h1 class="honebanner">NEWS FEED</h1>
</header>
<br>
<ol class="activity-feed">
  <% @activities.each do |activity| %>

  	<li class="feed-item" data-content="" data-time="<%= activity.created_at.strftime('%l:%M %B %-d') %>" data-color="green">
  		<section>
  			<label for="expand_4">
  				<b><%= link_to cl_image_tag(activity.owner.avatar_url(:thumbnail)), activity.owner if activity.owner %>&nbsp;<%= link_to activity.owner.first_name, activity.owner if activity.owner %>&nbsp;</b>
          <%= render_activity activity %>
  			</label>
  		</section>
  	</li>

  <% end %>
</ol>

<br><%= link_to "back to profile", user_path(current_user), class: "btn btn-default"%><br>



<nav data-pagination>
	<%= will_paginate @activities %>
</nav>
