<!DOCTYPE html>
<html>
<head>
  <title>Argos</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a><%= link_to "argos", root_path, class: "navbar-brand"%></a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-form pull-right" role="search">
        <li><%= link_to "Users", users_path%></li>
        <li><%= link_to "link_to"%></li>
        <li><%= link_to "link_to"%></li>
      </ul>
    </div>
  </div>
</nav>
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Argos</h1>
            <hr>
        </div>
    </div>
</header>
<%= yield %>

</body>
</html>
